/* =========== Оглавление CSS ===========
:: 1.0 Import Fonts
:: 2.0 Import All CSS
:: 3.0 Base CSS
    :: 3.1.0 Spacing
    :: 3.2.0 Height
    :: 3.3.0 Section Padding
    :: 3.4.0 Section Heading
    :: 3.5.0 Preloader
    :: 3.6.0 Miscellaneous
    :: 3.7.0 ScrollUp
:: 4.0 Header Area CSS
:: 5.0 About Us Area CSS
:: 6.0 Featured Post Sildes CSS
:: 7.0 team Area CSS
:: 8.0 Single post CSS
:: 9.0 Footer Area CSS
:: 10.0 Breadcumb Area CSS
:: 11.0 Blog Area CSS
:: 12.0 Tags CSS
*/
/* :: 1.0 Import Fonts */
@import url("https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i|Poppins:300,300i,400,400i,500,500i,600,600i");
/* :: 2.0 Import All CSS */
@import url(css/bootstrap.min.css);/*гибкость*/
@import url(css/classy-nav.css);/*меню в верхнем баре*/
@import url(css/owl.carousel.min.css);/*карусель участников проекта в "о нас"*/
@import url(css/font-awesome.min.css);/*мини картинки*/
/* :: 3.0 Base CSS */
* {
  margin: 0;
  padding: 0; }

body {
  font-family: "Poppins", sans-serif;
  font-size: 14px; }

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #191919;
  line-height: 1.3;
  font-weight: 400;
  font-family: "Merriweather", serif; }

p {
  font-family: "Poppins", sans-serif;
  color: #595959;
  font-size: 16px;
  line-height: 2;
  font-weight: 400; }

a,
a:hover,
a:focus {
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  text-decoration: none;
  outline: 0 solid transparent;
  color: #191919;
  font-weight: 500;
  font-size: 14px;
  font-family: "Poppins", sans-serif; }

ul,
ol {
  margin: 0; }
  ul li,
  ol li {
    list-style: none; }

img {
  height: auto;
  max-width: 100%; }

/* :: 3.1.0 Spacing */
.mt-15 {
  margin-top: 15px !important; }

.mt-30 {
  margin-top: 30px !important; }

.mt-50 {
  margin-top: 50px !important; }

.mt-70 {
  margin-top: 70px !important; }

.mt-100 {
  margin-top: 100px !important; }

.mb-15 {
  margin-bottom: 15px !important; }

.mb-30 {
  margin-bottom: 30px !important; }

.mb-50 {
  margin-bottom: 50px !important; }

.mb-70 {
  margin-bottom: 70px !important; }

.mb-100 {
  margin-bottom: 100px !important; }

.ml-15 {
  margin-left: 15px !important; }

.ml-30 {
  margin-left: 30px !important; }

.ml-50 {
  margin-left: 50px !important; }

.mr-15 {
  margin-right: 15px !important; }

.mr-30 {
  margin-right: 30px !important; }

.mr-50 {
  margin-right: 50px !important; }

/* :: 3.2.0 Height */
.height-400 {
  height: 400px; }

.height-500 {
  height: 500px; }

.height-600 {
  height: 600px; }

.height-700 {
  height: 700px; }

.height-800 {
  height: 800px; }

/* :: 3.3.0 Section Padding */
.section-padding-30-10 {
  padding-top: 30px;
  padding-bottom: 10px; }

/* :: 3.4.0 Section Heading */
.section-heading {
  position: relative;
  z-index: 1;
  margin-bottom: 50px;
  text-align: center; }
  .section-heading h2 {
    font-size: 36px;
    font-family: "Merriweather", serif;
    font-weight: 300; }
    @media only screen and (max-width: 767px) {
      .section-heading h2 {
        font-size: 24px; } }
  .section-heading span {
    color: #00a30a;
    margin-bottom: 0;
    font-family: "Merriweather", serif;
    font-weight: 400; }
  .section-heading p {
    font-size: 16px;
    color: #595959;
    margin-bottom: 0; }

/* :: 3.5.0 Preloader */
.preloader {
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999999;
  overflow: hidden; }
  .preloader .circle-preloader {
    text-align: center;
    overflow: hidden; }
    .preloader .circle-preloader .itzoo-preloader {
      position: relative;
      z-index: 10;
      width: 160px;
      height: 4px;
      border-radius: 2px;
      margin-top: 30px;
      background-color: #ebebeb;
      overflow: hidden; }
      .preloader .circle-preloader .itzoo-preloader span {
        width: 80px;
        height: 100%;
        position: absolute;
        background-color: #00a30a;
        top: 0;
        left: 0;
        border-radius: 2px;
        z-index: 100;
        -webkit-animation: line 1000ms infinite linear;
        animation: line 1000ms infinite linear; }

@-webkit-keyframes line {
  0% {
    left: -80px; }
  100% {
    left: 160px; } }
@keyframes line {
  0% {
    left: -80px; }
  100% {
    left: 160px; } }
/* :: 3.6.0 Miscellaneous */
.bg-img {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat; }

.bg-white {
  background-color: #ffffff !important; }

.bg-dark {
  background-color: #000000 !important; }

.bg-transparent {
  background-color: transparent !important; }

.font-bold {
  font-weight: 700; }

.font-light {
  font-weight: 300; }

.bg-overlay {
  position: relative;
  z-index: 2;
  background-position: center center;
  background-size: cover; }
  .bg-overlay::after {
    background-color: rgba(21, 4, 48, 0.89);
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: ""; }

.bg-fixed {
  background-attachment: fixed !important; }

/* :: 3.7.0 ScrollUp */
#scrollUp {
  background-color: #00a30a;
  border-radius: 0;
  bottom: 0;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.3);
  color: #ffffff;
  font-size: 24px;
  height: 40px;
  line-height: 40px;
  right: 50px;
  text-align: center;
  width: 40px;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms; }
  #scrollUp:hover {
    background-color: #191919; }

/* :: 4.0 Header Area CSS */
.header-area {
  position: relative;
  width: 100%;
  z-index: 100;
  background-color: #ffffff; }
  .header-area .top-header {
    position: relative;
    z-index: 1;
    background-color: #ffffff;
    width: 100%;
    height: 60px;
    box-shadow: 0 3px 10px 2px rgba(0, 0, 0, 0.15); }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .header-area .top-header {
        border-bottom: 1px solid #f2f4f5; } }
    @media only screen and (max-width: 767px) {
      .header-area .top-header {
        border-bottom: 1px solid #f2f4f5; } }
	
	@media only screen and (min-width: 768px) and (max-width: 991px) {
      .header-area .top-header .logo-hide_small_win{
        display: none; } }
    @media only screen and (max-width: 767px) {
      .header-area .top-header .logo-hide_small_win{
        display: none; } }
	/**/
    .header-area .top-header .search-form form {
      position: relative;
      z-index: 1; }
      .header-area .top-header .search-form form input.form-control {
		width: 160px;
        height: 40px;
        border: none;
        background-color: #ffffff;
        font-size: 12px;
        font-style: italic;
        color: #a6a6a6;
        padding: 0;
        font-weight: 500;
        -webkit-transition-duration: 500ms;
        transition-duration: 500ms; }
        .header-area .top-header .search-form form input.form-control::placeholder {
          color: #a6a6a6; }
        .header-area .top-header .search-form form input.form-control:focus {
          box-shadow: none; }
        @media only screen and (max-width: 767px) {
          .header-area .top-header .search-form form input.form-control {
			width: 220px;
            font-size: 18px; } }
        @media only screen and (min-width: 480px) and (max-width: 767px) {
          .header-area .top-header .search-form form input.form-control {
			width: 200px;
            font-size: 16px; } }
      .header-area .top-header .search-form form button {
        -webkit-transition-duration: 500ms;
        transition-duration: 500ms;
        position: absolute;
        width: 40px;
        height: 40px;
        right: 0;
        top: 0;
        z-index: 10;
        border: none;
        background-color: #ffffff; }
        .header-area .top-header .search-form form button:hover {
          color: #00a30a;
          cursor: pointer; }
    .header-area .top-header .top-header-content {
      height: 60px;}
  .header-area .logo-area {
    position: relative;
    z-index: 1;
    margin-top: 40px; }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .header-area .logo-area {
        display: none; } }
    @media only screen and (max-width: 767px) {
      .header-area .logo-area {
        display: none; } }
  .header-area .itzoo-main-menu {
    -webkit-transition-duration: 200ms;
    transition-duration: 200ms; }
    .header-area .itzoo-main-menu .classy-navbar {
      padding: 0;
      -webkit-box-pack: center;
      justify-content: center;
      -webkit-transition-duration: 500ms;
      transition-duration: 500ms; }
      @media only screen and (min-width: 768px) and (max-width: 991px) {
        .header-area .itzoo-main-menu .classy-navbar {
          -webkit-box-pack: justify;
          justify-content: space-between; } }
      @media only screen and (max-width: 767px) {
        .header-area .itzoo-main-menu .classy-navbar {
          -webkit-box-pack: justify;
          justify-content: space-between; } }
      .header-area .itzoo-main-menu .classy-navbar .nav-brand {
        display: none;
        -webkit-transition-duration: 500ms;
        transition-duration: 500ms; }
      @media only screen and (min-width: 768px) and (max-width: 991px) {
          .header-area .itzoo-main-menu .classy-navbar .nav-brand {
            display: block; } }
        @media only screen and (max-width: 767px) {
          .header-area .itzoo-main-menu .classy-navbar .nav-brand {
            display: block; } }/**/
    .header-area .itzoo-main-menu .classynav ul li a {
      padding: 0 25px;
      font-weight: 500;
      text-transform: uppercase;
      letter-spacing: 1px; }
      @media only screen and (min-width: 992px) and (max-width: 1199px) {
        .header-area .itzoo-main-menu .classynav ul li a {
          padding: 0 15px; } }
      .header-area .itzoo-main-menu .classynav ul li a:hover, .header-area .itzoo-main-menu .classynav ul li a:focus {
        color: #00a30a; }
    .header-area .itzoo-main-menu .classynav ul li ul li a {
      padding: 0 20px;
      letter-spacing: 0; }
      @media only screen and (min-width: 768px) and (max-width: 991px) {
        .header-area .itzoo-main-menu .classynav ul li ul li a {
          padding: 0 30px; } }
      @media only screen and (max-width: 767px) {
        .header-area .itzoo-main-menu .classynav ul li ul li a {
          padding: 0 30px; } }
    .header-area .itzoo-main-menu .classynav ul li .megamenu {
      background-image: url(img/core-img/1.jpg);
      background-position: center center;
      background-size: cover; }
      .header-area .itzoo-main-menu .classynav ul li .megamenu .single-mega {
        background-color: rgba(255, 255, 255, 0.95); }
  .header-area .is-sticky .itzoo-main-menu {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9999;
    box-shadow: 0 5px 50px 15px rgba(0, 0, 0, 0.2); }
    .header-area .is-sticky .itzoo-main-menu .classy-navbar {
	  -webkit-transition-duration: 500ms;
      transition-duration: 500ms;
      -webkit-box-pack: justify;
      justify-content: space-between; }
      .header-area .is-sticky .itzoo-main-menu .classy-navbar .nav-brand {
        display: block; }

/* :: 5.0 About Us Area CSS */
.about-content {
  position: relative;
  z-index: 1; }
  .about-content img {
    margin-bottom: 30px; }
  .about-content p {
    font-size: 16px; }
  .about-content blockquote h5 {
    font-size: 18px;
    color: #00a30a;
    line-height: 1.8;
    font-weight: 300;
    font-style: italic; }
  .about-content ul {
    position: relative;
    z-index: 1;
    margin-left: 10%; }
    .about-content ul li {
      font-size: 16px;
      color: #595959;
      margin-bottom: 15px;
      display: block; }
      .about-content ul li i {
        position: relative;
        z-index: 1;
        top: -2px;
        font-size: 8px;
        color: #191919;
        margin-right: 10px; }
  .about-content .signature {
    text-align: center; }

/* :: 6.0 Featured Post Sildes CSS */
.featured-post-area {
  position: relative;
  z-index: 1;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.15); }
  .featured-post-area .carousel-inner {
    position: relative;
    z-index: 3;
    -webkit-box-flex: 0;
    flex: 0 0 66.6667%;
    min-width: 66.6667%;
    width: 66.6667%;
    height: 502px; }
    @media only screen and (max-width: 767px) {
      .featured-post-area .carousel-inner {
        -webkit-box-flex: 0;
        flex: 0 0 100%;
        min-width: 100%;
        width: 100%; } }
    .featured-post-area .carousel-inner .carousel-item {
      position: relative;
      z-index: 5;
      width: 100%;
      height: 100%; }
      .featured-post-area .carousel-inner .carousel-item::after {
        content: "";
        position: absolute;
        height: 50%;
        width: 100%;
        z-index: -1;
        top: 50%;
        left: 0;
        background: rgba(0, 0, 0, 0.8);
        background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.01) 90%, rgba(0, 0, 0, 0) 100%);
        background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.01) 90%, rgba(0, 0, 0, 0) 100%); }
      .featured-post-area .carousel-inner .carousel-item .featured-post-content {
        position: absolute;
        bottom: 20px;
        left: 30px;
        z-index: 30;
        right: 50px; }
        .featured-post-area .carousel-inner .carousel-item .featured-post-content p {
          font-weight: 500;
          font-size: 13px;
          color: #ffffff;
          text-transform: uppercase;
          letter-spacing: 2px; }
        .featured-post-area .carousel-inner .carousel-item .featured-post-content .post-title h2 {
          -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
          font-size: 36px;
          color: #ffffff;
          font-weight: 300;
          line-height: 1.5;
          margin-bottom: 0; }
          .featured-post-area .carousel-inner .carousel-item .featured-post-content .post-title h2:hover {
            color: #00a30a; }
          @media only screen and (min-width: 768px) and (max-width: 991px) {
            .featured-post-area .carousel-inner .carousel-item .featured-post-content .post-title h2 {
              font-size: 30px; } }
          @media only screen and (max-width: 767px) {
            .featured-post-area .carousel-inner .carousel-item .featured-post-content .post-title h2 {
              font-size: 24px; } }
  .featured-post-area .carousel-indicators {
    height: 502px;
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 15;
    padding-left: 0;
    margin-right: 0;
    margin-left: 0;
    list-style: none;
    background-color: #f8f2ef;
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-flex: 0;
    flex: 0 0 33.3333%;
    min-width: 33.3333%;
    width: 33.3333%; }
    @media only screen and (max-width: 767px) {
      .featured-post-area .carousel-indicators {
        -webkit-box-flex: 0;
        flex: 0 0 100%;
        min-width: 100%;
        width: 100%; } }
    .featured-post-area .carousel-indicators li {
      -webkit-transition-duration: 500ms;
      transition-duration: 500ms;
      display: -webkit-box;
      display: flex;
      -webkit-box-align: center;
      align-items: center;
      -webkit-box-flex: 0;
      flex: 0 0 100%;
      min-width: 100%;
      width: 100%;
      height: 20%;
      margin-right: 0;
      margin-left: 0;
      text-indent: 0;
      border-left: 4px solid transparent;
      padding: 0 20px; }
      .featured-post-area .carousel-indicators li h2 {
        font-size: 38px;
        color: #a6a6a6;
        margin-bottom: 0;
        margin-right: 30px; }
        @media only screen and (min-width: 768px) and (max-width: 991px) {
          .featured-post-area .carousel-indicators li h2 {
            font-size: 24px;
            margin-right: 15px; } }
        @media only screen and (max-width: 767px) {
          .featured-post-area .carousel-indicators li h2 {
            font-size: 24px;
            margin-right: 15px; } }
      .featured-post-area .carousel-indicators li .post-title h5 {
        -webkit-transition-duration: 500ms;
        transition-duration: 500ms;
        font-size: 18px;
        font-weight: 300;
        line-height: 1.5;
        margin-bottom: 0; }
        .featured-post-area .carousel-indicators li .post-title h5:hover {
          color: #00a30a; }
        @media only screen and (min-width: 992px) and (max-width: 1199px) {
          .featured-post-area .carousel-indicators li .post-title h5 {
            font-size: 16px; } }
        @media only screen and (min-width: 768px) and (max-width: 991px) {
          .featured-post-area .carousel-indicators li .post-title h5 {
            font-size: 14px; } }
        @media only screen and (max-width: 767px) {
          .featured-post-area .carousel-indicators li .post-title h5 {
            font-size: 14px; } }
      .featured-post-area .carousel-indicators li.active {
        border-left: 4px solid #00a30a;
        box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.15); }

/* :: 7.0 team Area CSS */
.single-team-slide {
  position: relative;
  z-index: 2;
  overflow: hidden; }
  .single-team-slide::after {
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 5;
    background-color: rgba(255, 255, 255, 0.7);
    content: '';
    position: absolute;
    opacity: 0;
    visibility: hidden; }
  .single-team-slide img {
    -webkit-transition-duration: 1000ms;
    transition-duration: 1000ms; }
  .single-team-slide a {
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    text-align: center;
    display: inline-block;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    position: absolute;
    z-index: 30;
    width: 100%;
    top: 50%;
    left: 0;
    font-size: 14px;
    font-weight: 500;
    color: #191919;
    text-transform: uppercase;
    opacity: 0;
    visibility: hidden; }
    .single-team-slide a:hover {
      color: #191919; }
    .single-team-slide a i {
      margin-right: 5px; }
  .single-team-slide:hover img {
    transform: scale(1.2) rotate(5deg); }
  .single-team-slide:hover::after, .single-team-slide:hover a {
    opacity: 1;
    visibility: visible; }

/*:: 8.0 Single post CSS*/	
.single-post-details-area {
  position: relative;
  z-index: 1;
  margin-bottom: 50px; }
  .single-post-details-area .post-content .post-date {
    font-weight: 500;
    font-size: 13px;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #00a30a; }
  .single-post-details-area .post-content .post-title {
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 15px;
    font-size: 36px; }
    @media only screen and (max-width: 767px) {
      .single-post-details-area .post-content .post-title {
        font-size: 24px; } }
  .single-post-details-area .post-content .post-meta {
    position: relative;
    z-index: 1;
    margin-bottom: 30px; }
    .single-post-details-area .post-content .post-meta a {
      display: inline-block;
      font-size: 14px;
      color: #191919;
      margin-right: 15px; }
      .single-post-details-area .post-content .post-meta a:first-child {
        font-style: italic; }
      .single-post-details-area .post-content .post-meta a span,
      .single-post-details-area .post-content .post-meta a i {
        color: #a6a6a6;
        margin-left: 3px; }
      .single-post-details-area .post-content .post-meta a:hover {
        color: #00a30a; }
  .single-post-details-area .post-content p {
    font-size: 16px;
    color: #595959; }
  .single-post-details-area .post-content blockquote {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    z-index: 1;
    padding: 15px 0 10px 0; }
    .single-post-details-area .post-content blockquote .blockquote-icon {
      position: relative;
      z-index: 1;
      margin-right: 20px; }
      .single-post-details-area .post-content blockquote .blockquote-icon img {
        width: 40px;
        height: auto; }
    .single-post-details-area .post-content blockquote .blockquote-text h6 {
      font-weight: 300;
      line-height: 1.9; }
      .single-post-details-area .post-content blockquote .blockquote-text h6:first-child {
        font-style: italic; }
      .single-post-details-area .post-content blockquote .blockquote-text h6:last-child {
        color: #00a30a; }


/* :: 9.0 Footer Area CSS */
.footer-area {
  position: relative;
  z-index: 1;
  margin-top: 60px; }
  .footer-area .footer-social-info {
    position: relative;
    z-index: 1;
    padding: 30px 0; }
    .footer-area .footer-social-info a {
      display: inline-block;
      text-transform: uppercase;
      font-weight: 400;
      letter-spacing: 1px; }
      .footer-area .footer-social-info a span {
        margin-left: 10px; }
        @media only screen and (max-width: 767px) {
          .footer-area .footer-social-info a span {
            display: none; } }
        @media only screen and (min-width: 768px) and (max-width: 991px) {
          .footer-area .footer-social-info a span {
            display: none; } }
      .footer-area .footer-social-info a:hover, .footer-area .footer-social-info a:focus {
        color: #00a30a; }
  .footer-area .copywrite-text {
    position: relative;
    z-index: 1;
    padding: 20px 0;
    text-align: center; }
    .footer-area .copywrite-text p {
      font-size: 14px;
      color: #a6a6a6;
      font-weight: 400; }
      @media only screen and (max-width: 767px) {
        .footer-area .copywrite-text p {
          font-size: 12px; } }
      .footer-area .copywrite-text p a {
        font-size: 14px;
        color: #a6a6a6;
        font-weight: 400; }
        .footer-area .copywrite-text p a:hover, .footer-area .copywrite-text p a:focus {
          color: #00a30a; }
        @media only screen and (max-width: 767px) {
          .footer-area .copywrite-text p a {
            font-size: 12px; } }

/* :: 10.0 Breadcumb Area CSS */
.breadcrumb-area {
  position: relative;
  z-index: 10;
  width: 100%;
  padding-bottom: 60px; }
  .breadcrumb-area .breadcrumb {
    margin: 0;
    padding: 0;
    padding-top: 30px;
    background-color: transparent; }
    .breadcrumb-area .breadcrumb .breadcrumb-item {
      font-size: 16px;
      color: #a6a6a6; }
      .breadcrumb-area .breadcrumb .breadcrumb-item a {
        font-size: 16px;
        color: #191919; }
        .breadcrumb-area .breadcrumb .breadcrumb-item a:hover, .breadcrumb-area .breadcrumb .breadcrumb-item a:focus {
          color: #00a30a; }
    .breadcrumb-area .breadcrumb .breadcrumb-item + .breadcrumb-item::before {
      color: #191919;
      content: ">"; }

/* :: 11.0 Blog Area CSS */
.single-blog-post {
  position: relative;
  z-index: 1; }
  .single-blog-post .post-thumbnail {
    position: relative;
    z-index: 1;
    -webkit-box-flex: 0;
    flex: 0 0 50%;
    max-width: 50%;
    width: 50%;
    margin-right: 6%; }
    @media only screen and (max-width: 767px) {
      .single-blog-post .post-thumbnail {
        -webkit-box-flex: 0;
        flex: 0 0 100%;
        min-width: 100%;
        width: 100%;
        margin-right: 0; } }
  .single-blog-post .post-content {
    -webkit-box-flex: 0;
    flex: 0 0 44%;
    max-width: 44%;
    width: 44%; }
    @media only screen and (max-width: 767px) {
      .single-blog-post .post-content {
        -webkit-box-flex: 0;
        flex: 0 0 100%;
        min-width: 100%;
        width: 100%; } }
    .single-blog-post .post-content .post-date {
      font-weight: 500;
      font-size: 13px;
      color: #ffffff;
      text-transform: uppercase;
      letter-spacing: 2px;
      color: #00a30a; }
    .single-blog-post .post-content .post-title h4 {
      -webkit-transition-duration: 500ms;
      transition-duration: 500ms;
      font-weight: 300;
      line-height: 1.5;
      margin-bottom: 15px; }
      .single-blog-post .post-content .post-title h4:hover {
        color: #00a30a; }
      @media only screen and (min-width: 768px) and (max-width: 991px) {
        .single-blog-post .post-content .post-title h4 {
          font-size: 20px; } }
      @media only screen and (max-width: 767px) {
        .single-blog-post .post-content .post-title h4 {
          font-size: 20px; } }
    .single-blog-post .post-content .post-meta {
      position: relative;
      z-index: 1;
      margin-bottom: 15px; }
      .single-blog-post .post-content .post-meta a {
        display: inline-block;
        font-size: 14px;
        color: #191919;
        margin-right: 15px; }
        .single-blog-post .post-content .post-meta a:first-child {
          font-style: italic; }
        .single-blog-post .post-content .post-meta a span,
        .single-blog-post .post-content .post-meta a i {
          color: #a6a6a6;
          margin-left: 3px; }
        .single-blog-post .post-content .post-meta a:hover {
          color: #00a30a; }
    .single-blog-post .post-content .post-excerpt {
      font-size: 16px;
      color: #595959;
      margin-bottom: 0; }
    .single-blog-post .post-content .read-more-btn {
      display: block;
      margin-top: 20px;
      color: #a6a6a6;
      font-size: 13px;
      margin-bottom: 0;
      text-transform: uppercase; }
      .single-blog-post .post-content .read-more-btn i {
        -webkit-transition-duration: 300ms;
        transition-duration: 300ms;
        color: #00a30a; }
      .single-blog-post .post-content .read-more-btn:hover, .single-blog-post .post-content .read-more-btn:focus {
        color: #00a30a; }
        .single-blog-post .post-content .read-more-btn:hover i, .single-blog-post .post-content .read-more-btn:focus i {
          margin-left: 5px; }
  .single-blog-post.related-post .post-thumbnail {
    -webkit-box-flex: 0;
    flex: 0 0 100%;
    max-width: 100%;
    width: 100%;
    margin-right: 0;
    margin-bottom: 30px !important; }
  .single-blog-post.related-post .post-content {
    -webkit-box-flex: 0;
    flex: 0 0 100%;
    max-width: 100%;
    width: 100%; }

/* 12.0 Tags CSS */
.post-tags-share {
  position: relative;
  z-index: 1;
  margin-bottom: 50px; }
  .post-tags-share .popular-tags li a {
    display: inline-block;
    margin: 4px;
    border: 1px solid #ebebeb;
    padding: 10px 15px;
    line-height: 1;
    text-transform: uppercase;
    font-size: 13px;
    color: #191919; }
    .post-tags-share .popular-tags li a:hover, .post-tags-share .popular-tags li a:focus {
      color: #00a30a; }
	

